<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-lc-twilio-android" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>lc-twilio-android</name>
    <js-module name="lc-twilio-android" src="www/lc-twilio-android.js">
        <clobbers target="cordova.plugins.lc-twilio-android" />
    </js-module>
</plugin>
